{
  "settings": {
    "import/resolver": {
      "alias": [
        ["@scomponents", "./src/style/components"],
        ["@stemplates", "./src/style/templates"],
        ["@spages", "./src/style/pages"],
      ]
    }
  }
}